<div class="box">
  <div class="row error">
    <h1>Error</h1>
    <p><%= errorMessage %></p>
  </div>
  <div class="row">
    <ul>
      <li>chemicals : Comply with UK REACH</li>
      <li>mmo : Fish Exports</li>
      <li>ipaffs : IPAFFS</li>
      <li>exports : Exporter Service</li>
      <li>certifier : Certifier Service</li>
    </ul>
  </div>
</div>
